[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pycodestyle = "*"
"autopep8" = "*"


[packages]

requests = "==2.21.0"
flask = "==1.0"
redis = "==2.10.6"

[requires]

python_version = "3.6"
